.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  height: 0;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
  -webkit-app-region: no-drag;
}

@mixin wrap {
  width: 100%;
  height: 100%;
}

@mixin fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .9);
  transition: all .3s;
  z-index: 233;
  @include wrap;
}

@mixin fixed-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 300px;
  margin: auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
}

.animate-left{
  transform: translateX(-100rem);
}
.animate-right{
  transform: translateX(100rem);
}
.animate-top{
  transform: translateY(100rem);
}
.animate-bottom{
  transform: translateY(-100rem);
}
.fixed.show{
  transform: none!important;
}

.text-overflow{
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-mask {
  position: absolute;
  width: 100%;
  background-color: #333;
  background-size: cover;
  background-position: center;
  filter: blur(40px);
  z-index: -1;
  transition: all ease .3s;
}
