
$main: #007aff;
#musicPlayer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  z-index: 99;
  -webkit-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
  transform: translateY(80px);
  transition: all .4s;
  z-index: 333;
  background: #fff;
  padding: 1rem;
  &.show {
    transform: translateY(0);
  }
}
button[class*=icono-] {
  border: none
}

// 关闭按钮

#musicPlayer-close {
  position: absolute;
  bottom: .4rem;
  right: .4rem;
  z-index: 24;
  transition: all .3s;
}

.btn:hover {
  color: $main;
  cursor: pointer;
}

.p-2 {
  padding: 0 2rem;
}

.progress-bar {
  position: relative;
  top: -20px;
  left: 100px;
  width: 60vw;
  height: 20px;
  .progress-bar-wrap,
  .progress-bar-check {
    position: absolute;
    top: 7px;
    left: 0;
    width: 50%;
    height: 4px;
    border-radius: 8px;
    opacity: 0.8;
  };
  .progress-bar-wrap {
    top: 0;
    opacity: 1;
    width: 100%;
    height: 80%;
    z-index: 234;
    background: rgba(210, 204, 204, 0.1);
    box-shadow: 0px 0px 8px 5px rgba(226, 220, 220, 0.1);
  }
  .progress-bar-check {
    width: 100%;
    padding: 0 5px;
    div {
      width: 50%;
      height: 4px;
      background: $main / .1;
      margin: 0 6px;
      border-radius: 8px;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
      transition: all .3s;
    }
  }
}

.currentWrap {
  position: relative;
  top: -8px;
  left: 2.44rem;
  width: 60%;
  opacity: 0.8;
}

.currentCtrl {
  min-width: auto;
}

.zi-none {
  display: none!important;
}