div.zi-dialog-root
    div.zi-dialog-backdrop
    div.zi-dialog-backdrop.responsive
    div.diy.zi-dialog-wrapper
      div.zi-dialog-content
        div.body
            div.zi-note.hint <span class="zi-note-type">提示: </span>请添加你需要扫描的音乐文件夹
            div.margin-top-sm
              button.zi-btn#scanToMusic 扫描
              input.zi-input
            ul
      div.zi-dialog-footer
        button.action 关闭