div.zi-dialog-root.zi-none#local-wrap(style='overflow:hidden')
    div.zi-dialog-backdrop
    div.zi-dialog-backdrop.responsive
    div.diy.zi-dialog-wrapper
      div.zi-dialog-content
        div.body
            div.zi-note.hint#zi-scan-tips <span class="zi-note-type">提示: </span>请添加你需要扫描的音乐文件夹
            div.margin-top-sm
              button.zi-btn#scanToMusic 扫描
              input.zi-input#searchToMusic(style='min-width: 40vw')
            div#zi-music-ctrl
              button.zi-btn.currentCtrl#local-music-played Play
              button.zi-btn.currentCtrl#local-music-volume Volume
              button.zi-btn.currentCtrl#local-music-loop Loop
              button.zi-btn.currentCtrl#local-music-mode Mode
            div.local-wrap
              ul#local-list
      div.zi-dialog-footer
        button.action 关闭
div#musicPlayer.show
  div.clearfix
    div.fl.por(style="top: -5px")
      span.icono-caretLeft.btn(title="上一曲")
      span.icono-caretRight.btn(title="下一曲")
    div.clearfix.fl.currentWrap
      div.fl
        span#currentTitle Atmozfears - She goes
      div.fr 
        span#currentTime 03:00 /
        span#currentTotal 08:24
  div.progress-bar
    div.progress-bar-wrap
    div.progress-bar-check
      div
  button.icono-caretDown#musicPlayer-close.btn(title="点击关闭")