html
  head
    //- link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Press+Start+2P")
    //- link(rel="stylesheet", href="https://unpkg.com/nes.css/css/nes.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@zeit-ui/style@latest/dist/style.css")
    link(rel="stylesheet", href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap-grid.css")
    link(rel="stylesheet", href="../css/topbar.css")
    title Miku
  body
    include osx.pug
    include miku.pug