/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

img, embed, object, audio, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

/* end */
html,
body {
  width: 100%;
  height: 100%;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  background-color: rgba(215, 215, 215, 0.7);
  user-select: none;
  overflow: hidden;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  height: 0;
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
  -webkit-app-region: no-drag;
}

/* end */
#app {
  width: 100%;
  height: 100%;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 88;
}

.drag-wrap {
  position: relative;
  left: 10px;
  width: 780px;
  height: 30px;
  -webkit-app-region: drag;
  z-index: 888;
}

.ctrl {
  -webkit-user-select: none;
  height: 30px;
  line-height: 34px;
  padding-left: 5px;
}

.ctrl span {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid;
  margin-left: 5px;
  transition: all .3s;
}

#window-closed {
  background: #f85955;
  border-color: #d74246;
  margin-left: 10px;
}

#window-closed:after,
#window-closed:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  display: block;
  width: 8px;
  height: 2px;
  background: #333;
  border-radius: 1px;
  transform: rotate(40deg);
  opacity: 0;
  transition: all .2s;
}

#window-closed:before {
  transform: rotate(-40deg)
}

#window-min {
  background: #fbbe3f;
  border-color: #d7a32d;
}

#window-min:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  display: block;
  width: 80%;
  height: 2px;
  background: #333;
  opacity: 0;
  transition: all .2s;
}

#window-max {
  background: #45cc4b;
  border-color: #40ad36;
}

.ctrl:hover {
  cursor: pointer;
}

.ctrl:hover #window-min:before,
.ctrl:hover #window-closed:after,
.ctrl:hover #window-closed:before {
  opacity: .8;
}

.menu-w {
  height: 100%;
  padding-right: 14px;
}

#g_menu {
  position: relative;
  top: 6px;
  right: -4px;
  border: 0;
  padding: 0;
  background: none;
  outline: none;
}

#g_menu:hover {
  cursor: pointer;
}

.app-content {
  width: 100%;
  height: 100%;
  padding-top: 30px;
}

.tool_bar {
  margin: 40px;
  margin-bottom: 12px;
  text-align: center;
}

.search-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .9);
  transform: translateY(-100rem);
  transition: all .3s;
  z-index: 23587;
}

.search-wrap.show {
  transform: translate(0);
}

#history:before {
  content: "历史搜索: "
}

#search-hot:before {
  content: "热搜: "
}

#history,
#search-hot {
  padding: 10px;
  margin: 0 5px;
  text-align: left;
  margin-left: 70px;
  font-size: 14px;
  color: rgba(0, 0, 0, .5);
}

#history a,
#search-hot a {
  display: inline-block;
  padding: 0 4px;
  margin: 0 2px;
  font-size: 12px;
  color: rgba(0, 0, 0, .7)
}

#search-close {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(23, 169, 247);
  border: 1px solid rgb(23, 143, 208);
  z-index: 99999;
}

#search-close:hover {
  cursor: pointer;
}

#g_search {
  display: block;
  width: 80%;
  padding: 4px 8px;
  padding-bottom: 12px;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid #333;
  background: none;
  text-indent: 4px;
  font-size: 1.5rem;
  user-select: all;
  outline: none;
}

#result {
  position: relative;
  width: 80%;
  height: 400px;
  margin: 1% auto;
  overflow: hidden;
}

#result ul {
  overflow: hidden;
  overflow-y: auto;
  height: 360px;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 14px;
}

#result li {
  list-style: none;
}

#result li a {
  position: relative;
  display: inline-block;
  width: 80%;
  margin: 10px 0;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

#result li a span {
  display: block;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#result li a:before {
  content: "";
  position: absolute;
  left: 4px;
  top: 8px;
  width: 1%;
  height: 20px;
  opacity: 0;
  background-color: rgba(0, 0, 0, .2);
  transition: all ease-out .3s;
}

#result li a:hover:before {
  width: 80px;
  opacity: 1;
}

#result p {
  position: absolute;
  top: 0;
  left: 20px;
  width: 94%;
  color: rgba(0, 0, 0, .9);
  margin: 0;
  padding: 8px;
  padding-left: 0;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

#result p:before {
  content: "";
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, .8);
  border-radius: 50%;
}

#musicPlayer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 49px;
  background: -webkit-linear-gradient(top, #ebebeb, #d5d5d5);
  z-index: 99;
  -webkit-box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
  box-shadow: 0 6px 6px -3px rgba(0, 0, 0, .2), 0 10px 14px 1px rgba(0, 0, 0, .14), 0 4px 18px 3px rgba(0, 0, 0, .12);
  transform: translateY(80px);
  transition: all .4s;
  z-index: 2344;
}

#musicPlayer.show {
  transform: translateY(0);
}

#musicCover {
  width: 40px;
  height: 40px;
  margin-top: 4px;
  margin-left: 12px;
  background: rgba(0, 0, 0, .3);
  background-size: 100%;
  cursor: pointer;
  transition: all .3s;
  box-shadow: 0 0 24px rgba(16, 24, 32, .2);
}

#musicCover:hover {
  box-shadow: box-shadow: 0 0 24px rgba(16, 24, 32, .5);
}

._title {
  height: 40px;
  margin-top: 6px;
  margin-left: 8px;
  padding: 0 4px;
}

._title p {
  margin: 0;
  padding-left: 2px;
}

._title p:first-child {
  font-size: 14px;
}

._title p:last-child {
  position: relative;
  font-size: 10px;
}

._title p:last-child:before {
  content: "";
  position: absolute;
  left: 2px;
  bottom: -3px;
  width: 40px;
  height: 1px;
  background: rgba(0, 0, 0, .4);
}

.tools {
  margin-top: 10px;
  margin-right: 14px;
}

.tools * {
  cursor: pointer;
}

.tools button {
  border: none;
  background: none;
  outline: none;
}

.playlist {
  position: relative;
  top: -3px;
  margin: 0 4px;
}

.share {
  position: relative;
  top: 2px;
}

.download {
  position: relative;
  margin: 0 8px;
  top: 1px;
}

.playStatus {
  position: relative;
  top: 2px;
  right: 8px;
}

.playStatus button {
  padding: 0 3px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: 100%;
  filter: blur(20px);
}

#bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAADCAYAAAC56t6BAAAAFElEQVQYlWNgQAeMDAwMxgwMDAwAASMANT5aFJoAAAAASUVORK5CYII=');
}

#player-ctrl .hide {
  display: none;
}

#volume,
#share-ins {
  padding: 0;
  margin: 0 3px;
}

#slideHidden {
  margin-left: 8px;
}

#volumeWrap {
  position: fixed;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 49px;
  z-index: 520;
  transition: all .3s;
  background: linear-gradient(to right, rgba(133, 149, 159, 0.57), rgba(31, 57, 83, 0.74))
}

#volumeWrap.show {
  bottom: 0;
}

#volumeBar {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #bdc3c7;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  opacity: .85;
  transition: all .3s;
}

#volume-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#share {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 1);
  background-size: cover;
  transition: all .3s;
  transform: translateX(-80rem);
  z-index: 4559;
}

#share.show {
  opacity: 1;
  transform: translateX(0);
}

#share div,
.mode-wrap div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 300px;
  margin: auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 8px;
}

#share p {
  margin: 8px 0;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

#share .qrcodeWrap {
  margin-top: 60px;
  margin-bottom: 0;
  padding: 0;
}

.qrcodeWrap img {
  max-width: 120px;
}

#share .share-name {
  font-size: 18px;
  margin-top: 0;
}

#share .share-by {
  font-size: 12px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#progress-bar,
#pb1,
#pb1-copy {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all .3s;
}

#pb1,
#pb1-copy {
  top: 0;
  height: 100%;
}

#pb1 {
  width: 0;
  background: #bdc3c7;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  opacity: .8;
}

#progress-bar.show {
  height: 20px;
}

#progress-bar:hover #pb1:before {
  opacity: .3;
}

#pb1-copy {
  background: none;
  cursor: pointer;
}

#player {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2333;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateX(100rem);
  transition: all .5s;
}

#player .mask {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://p2.music.126.net/yWVujDesdI4GMbGjmOFiiQ==/18991864346840353.jpg");
  filter: blur(60px);
  opacity: .5;
}

.player-tools {
  position: relative;
  padding-left: 60px;
  padding-bottom: 10px;
  opacity: 0;
  transition: all .1s;
}

.player-tools * {
  background: transparent;
  border-radius: 4px;
  padding: 4px 8px;
  border: 1px solid #333;
  outline: none;
  transition: all .3s;
}

#search-played {
  width: 100px;
}

.player-tools:hover {
  opacity: 1;
}

#btnCleanHistory:hover {
  background: #333;
  color: #fff;
}

#search-played:focus {
  width: 720px;
  outline-color: #000;
  border-color: #000;
  color: #000;
}

#player ul {
  padding-left: 50px;
  padding-bottom: 40px;
  height: 90%;
  overflow: auto;
  -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.72) 0, rgba(255, 255, 255, .9) 15%, rgb(255, 255, 255) 25%, rgba(255, 255, 255, 1) 75%, rgb(255, 255, 255) 85%, rgba(255, 255, 255, 0.16) 100%);
  transition: all .3s;
}

#player.show {
  transform: translateX(0);
}

#player ul li {
  position: relative;
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

#player ul li:before {
  content: "";
  position: absolute;
  top: 45%;
  left: -40px;
  width: 0;
  height: 4px;
  background: rgba(0, 0, 0, .5);
  transition: all .3s;
}

#player ul li a {
  display: block;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#player ul li a .list-del.fr {
  border: none;
  background: transparent;
  padding: 5px 15px;
  color: #333;
  border: 1px solid #333;
  user-select: none;
  opacity: 0;
  transition: opacity .1s;
}

#player ul li:hover:before {
  opacity: .8;
  width: 40px;
}

#player ul li:hover a {
  font-weight: bold;
}

#player ul li:hover .list-del.fr {
  cursor: pointer;
  opacity: 1;
}

#player ul li .list-del.fr:hover {
  background: #333;
  color: #fff;
}

.mode-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100rem);
  transition: all .3s;
  z-index: 3323;
}

.mode-wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3c4245;
}

.mode-wrap.show {
  transform: translateY(0);
}

.mode-wrap div {
  width: 300px;
  height: 120px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 30px;
}

.mode-wrap div span svg {
  width: 50px;
  height: 50px;
}

.mode-wrap div span {
  position: relative;
  display: inline-block;
  margin: 0 10px 0;
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: all .3s;
}

.mode-wrap div span:before {
  content: attr(title);
  position: absolute;
  top: -20px;
  left: 4px;
  font-size: 14px;
  opacity: 0;
  transition: all .1s;
}

.mode-wrap div span:hover {
  background: rgba(0, 0, 0, .1);
}

.mode-wrap div span:hover:before {
  opacity: 1;
}

.player-cover {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, .8);
  background-size: cover;
  transform: scale(0);
  z-index: -10;
  opacity: 0;
  transition: all .5s;
}

.player-cover-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  opacity: .5;
}

.player-cover.show {
  width: 100%;
  height: 100%;
  transform: none;
  opacity: 1;
  z-index: 99;
}

.player-cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAADCAYAAAC56t6BAAAAFElEQVQYlWNgQAeMDAwMxgwMDAwAASMANT5aFJoAAAAASUVORK5CYII=');
}

#player-cover-close {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  z-index: 23333;
}

#player-cover-close:hover {
  cursor: pointer;
}

.gMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  z-index: 2500;
  transform: translatex(-80rem);
  transition: all .5s;
}

.gMenu.show {
  transform: translatex(0);
}

.bg-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  background-image: url("https://p2.music.126.net/c5NVKUIAUcyN4BQUDbGnEg==/109951163221157827.jpg");
  opacity: .5;
  z-index: -1;
}

.gMenu ul {
  margin-top: 4px;
  padding-left: 50px;
}

.gMenu ul li {
  list-style: none;
  margin: 24px 0;
  color: #333;
}

.gMenu ul li a {
  position: relative;
  display: block;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #d7d2d2;
}

.gMenu ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2px;
  width: 60px;
  height: 16px;
  opacity: 0;
  background: #fff;
  transition: all .3s;
}

.gMenu ul li:hover a:before {
  opacity: .2;
}

.playhot {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

#playlist-hot li {
  display: inline-block;
  text-align: center;
}

#playlist-hot li a {
  display: block;
  width: 180px;
  height: 140px;
  text-decoration: none;
  color: #333;
  margin: 14px;
}

.list-hot-info {
  position: relative;
  font-size: 12px;
}

.list-hot-info:after {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  opacity: 0;
  content: attr(data-id);
  transition: all .3s;
}

.list-hot-info:before {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  opacity: 0;
  content: attr(data-count);
  transition: all .3s;
}

.list-hot-info img {
  width: 180px;
  height: 180px;
  transition: all .4s;
}

#playlist-hot li:hover p.list-hot-info:after {
  opacity: 1;
  left: 5px;
  bottom: 5px;
}

#playlist-hot li:hover p.list-hot-info:before {
  right: 4px;
  top: 1px;
  opacity: 1;
}

#playlist-hot li a:hover img {
  -webkit-box-shadow: 1px 11px 31px 10px rgba(7, 6, 7, 0.56);
  box-shadow: 1px 11px 31px 10px rgba(7, 6, 7, 0.56);
}

.list-hot-name {
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#playlist-hot {
  padding: 10px 4px 50px;
}

.login-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, .5);
  transform: translateY(-100rem);
  transition: all .5s;
  z-index: 2233;
}

.login-wrap.show {
  transform: translateY(0);
}

.login-wrap .login-con {
  position: relative;
  width: 500px;
  margin: 120px auto 0;
  height: 480px;
  font-size: 18px;
  padding-top: 100px;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
  box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0), -2px 0 10px rgba(0, 0, 0, .05), 2px 0 10px rgba(0, 0, 0, .05), 0 -2px 10px rgba(0, 0, 0, .05), 0 2px 10px rgba(0, 0, 0, .05);
}

.login-wrap input[type='text'],
.login-wrap input[type='password'],
.login-wrap input[type='submit'] {
  width: 60%;
  border: 0;
  border-bottom: 2px solid #333;
  outline: none;
  padding: 10px;
  margin: 18px;
  text-indent: 1em;
  font-size: 14px;
  transition: all .3s;
}

.login-wrap input[type='submit'] {
  padding: 8px 0;
  border: 1px solid #333;
  text-indent: 0;
  transition: all .3s;
}

.login-wrap input[type='submit']:hover {
  color: #289FED;
  border-color: #289FED;
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.login-wrap input[type='text']:focus,
.login-wrap input[type='password']:focus {
  color: #289FED;
  border-color: #289FED;
}

.login-wrap .login-img {
  position: absolute;
  top: -70px;
  left: 184px;
  width: 140px;
  height: 140px;
  background: #339ac7;
  border-radius: 50%;
  transition: all .3s;
}

.moe-mask {
  position: absolute;
  top: -2px;
  left: 180px;
  width: 160px;
  height: 20px;
  background: #339ac7;
  opacity: 0;
  transform: rotate(-20deg);
  transition: all .3s;
}

.moe-mask.show {
  opacity: 1;
}

.moe-warring {
  position: absolute;
  top: -4px;
  left: 280px;
  width: 80px;
  height: 80px;
  opacity: 0;
  background-image: url('./assets/warring.png');
  transition: all .3s;
}

.moe-warring.show {
  opacity: 1;
}

#login-exit {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

#login-exit:hover {
  cursor: pointer;
}

.tag {
  padding-left: 20px;
  padding-top: 10px;
}

.tag a {
  color: rgba(0, 0, 0, .5);
  margin: 0 2px;
}

.playlist-detail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 233;
  background: #fff;
}

.playlist-wrap {
  width: 80%;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, .5);
  margin: 20px auto;
}

#playlist-header-cover {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  background: url("http://p1.music.126.net/dL33z6ivfG-2LAvhrHjAWg==/109951163142887396.jpg");
  background-size: 100%;
}

.playlist-title {
  font-size: 24px;
  padding: 4px;
  font-weight: bold;
}

.playlist-cover-img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  border-radius: 50%;
}

.playlist-created {
  font-size: 14px;
}

.playlist-tags {
  font-size: 12px;
  color: rgba(0, 0, 0, .5);
  padding: 5px;
  padding-left: 10px;
}

.playlist-desc {
  overflow-y: auto;
  height: 80px;
  font-size: 14px;
  color: rgba(0, 0, 0, .4)
}

.playlist-info {
  width: 510px;
  padding-left: 20px;
  overflow: hidden;
}

#playlist-header-close {
  position: fixed;
  top: 24px;
  left: 30px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid rgba(0, 255, 0, .2);
  background: red;
  transition: all .3s;
}

#playlist-header-close:hover {
  cursor: pointer;
}

.playlist-list {
  width: 80%;
  height: 350px;
  overflow-y: auto;
  margin: 10px auto;
}

.playlist-list li a {
  width: 80%;
  margin: 4px;
  padding: 4px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  text-decoration: none;
  text-indent: 10px;
  color: rgba(0, 0, 0, .5);
}

.playlist-list li a:hover {
  background: rgba(0, 0, 0, .1);
  color: rgba(0, 0, 0, 1)
}

#playlist-header-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  opacity: .6;
  filter: blur(20px);
  z-index: -1;
  transition: all .5s;
}

.player-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  background-size: cover;
  background-position: center;
  filter: blur(40px);
  z-index: -1;
}

#player-lyric {
  position: absolute;
  top: 90px;
  right: 0;
  width: 100%;
  height: 400px;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  color: rgba(255, 255, 255, .5);
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .3s;
  font-size: 14px;
  text-align: center;
  -webkit-mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .6) 15%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, .6) 85%, rgba(255, 255, 255, 0) 100%)
}

#player-lyric ul {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  overflow: hidden;
  overflow-y: auto;
}

#player-lyric li {
  padding: 5px 0;
  margin: 4px 0;
  transition: all .5s;
}

#player-lyric li:hover {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

#player-lyric li.light {
  font-size: 16px;
  color: #fff;
}

.no-lyric {
  position: relative;
  top: 120px;
  font-size: 15px;
  color: #fff;
  padding-top: 80px;
}

#g-user .clearfix {
  width: 100%;
  height: 140px;
  box-sizing: border-box;
  padding-top: 80px;
  padding-left: 30px;
  color: #fff;
  background-size: 100%;
}

#g-user img.fl {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#g-user p.fl {
  padding-left: 10px;
}

.gSetting {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 233333;
  background: #fff;
}

.gSetting #fork:hover {
  cursor: pointer;
}

.setting-wrap {
  padding: 100px;
  padding-bottom: 120px;
}

.setting-wrap h4 {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  padding: 0 0 5px;
  opacity: .8;
  margin-bottom: 14px;
  text-indent: 2px;
}

.setting-wrap h4:before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 12px;
  background: rgb(57, 210, 160);
  z-index: -1;
}

.setting-wrap p {
  padding: 10px;
  transition: all ease-in-out .2s;
}

.setting-wrap p:hover {
  background: rgba(148, 148, 148, 0.1)
}

.setting-wrap input {
  border: none;
  padding: 8px 0;
  border-bottom: 1px solid #333;
  background: none;
  outline: none;
}

.setting-wrap input:focus {
  border-bottom: 1px solid rgb(57, 210, 160);
}

.setting-wrap strong {
  margin-right: 8px;
  display: inline-block;
  width: 100px;
  text-align: right;
}

.gSetting button {
  border: 2px solid #333;
  padding: 2px 8px;
  margin: 0 8px;
  border-radius: 2px;
  outline: none;
}

.gSetting button:hover {
  background: #333;
  color: #fff;
}

.gSetting button:hover,
#gSetting-close:hover {
  cursor: pointer;
}

#gSetting-close {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(0, 0, 0, .5)
}

.woyaomeizi,
.noizio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-80rem);
  transition: all .4s;
}

.woyaomeizi {
  z-index: 9999999;
  background: green;
}

.woyaomeizi .woyaomeizi-info {
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  line-height: 2;
}

.woyaomeizi .woyaomeizi-info img {
  max-width: 80%;
  background: #fff;
  border-bottom-right-radius: 4em;
  border-bottom-left-radius: 4em;
}

.woyaomeizi.show,
.noizio.show {
  transform: translateX(0);
}

.screen {
  padding-top: 120px;
  background: rgba(255, 255, 255, .5);
}

.screen ul.check-wrap {
  width: 80%;
  margin: 100px auto;
  height: 140px;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .6) 15%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, .6) 85%, rgba(255, 255, 255, 0) 100%);
}

.screen li {
  display: inline-block;
  width: 120px;
  height: 100px;
  text-align: center;
  transition: all .2s;
}

.screen li[data-sound] {
  padding-top: 10px;
}

.screen li:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, .2)
}

.screen .big-wrap {
  position: relative;
  background: none !important;
  width: 1800px;
  height: auto;
}

.screen li img {
  width: 40px;
  height: 40px;
  max-width: 80%;
}

.screen p {
  text-transform: capitalize;
}

.noizio-close {
  position: fixed;
  bottom: -10px;
  right: 0;
  width: 100px;
  height: 100px;
  transition: bottom .3s;
}

.noizio-close img {
  max-width: 100%;
}

.noizio-close:hover {
  bottom: 0;
  cursor: pointer;
}

menu {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;
  margin: 0;
  padding: 4px 0 5px;
  background: rgba(230, 225, 225, .95);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border-radius: 7px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 12px;
  line-height: 15px;
  z-index: 439999;
}

menu::before {
  display: block;
  position: absolute;
  content: "";
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  z-index: -1;
}

menu hr {
  border: none;
  height: 2px;
  background: rgba(0, 0, 0, 0.08);
  margin: 6px 0px 5px;
  padding: 0;
}

menu menuitem {
  display: block;
  padding: 8px 20px;
}

menu menuitem::after {
  vertical-align: 2px;
  content: attr(label);
}

menu menuitem:hover {
  background: #4195fa;
}

menu menuitem:hover::after {
  color: #fff;
}

body.dark {
  transition: all .5s;
}

body.dark #app {
  background: #333;
}

body.dark #playlist-hot li a {
  color: rgba(255, 255, 255, .5);
}

body.dark #topbar {
  background: rgb(3, 3, 3)
}

body.dark #musicPlayer {
  background: rgba(0, 0, 0, 1);
}

body.dark ._title {
  color: rgba(255, 255, 255, .8);
}

body.dark .search-wrap,
body.dark #player {
  background: rgba(0, 0, 0, 0.9);
}

body.dark #g_search,
body.dark #result p {
  border-color: #a29e9e;
  color: #a29e9e;
}

body.dark #search-hot,
body.dark #search-hot a,
body.dark #result li a,
body.dark #player ul li a,
body.dark #player ul li:hover:before,
body.dark ._title p:last-child:before,
body.dark .playlist-tags,
body.dark .playlist-desc,
body.dark .playlist-info,
body.dark .playlist-list li a,
body.dark .tag,
body.dark .tag a {
  color: #a29e9e;
}

body.dark svg {
  fill: #e0dbdb;
}

body.dark .player-cover-mask,
body.dark .share {
  background-image: none !important;
}

body.dark .player-cover:before {
  background: rgba(0, 0, 0, .8)
}

body.dark .playlist-detail,
body.dark .gSetting {
  background: #000;
}

body.dark ._title p:last-child:before,
body.dark #gSetting-close {
  background: #cdc9c9;
}

body.dark .mode-wrap div span svg {
  fill: #333;
}

body.dark .setting-wrap input,
body.dark .setting-wrap h4,
body.dark .gSetting {
  color: #fff;
}

body.dark menu {
  background: #000;
  color: rgba(255, 255, 255, .7);
}

body.dark menu hr {
  background: rgba(255, 255, 255, .2)
}

body.dark menu:hover menuitem {
  cursor: pointer;
}

body.dark #cover div {
  animation: none;
}

body.dark #last {
  border-radius: 50%;
}
